

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'register_donor' %}">Register Donor</a></li>
            <li><a href="{% url 'donor_list' %}">Donor List</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'change_password' %}">Change Password</a></li>
            <li><a href="{% url 'blood_inventory_list' %}">Blood Inventory</a></li>
            <li><a href="{% url 'blood_shipment_list' %}">Distribution List</a></li>
            <li><a href="{% url 'initiate_blood_shipment' %}">Distribution</a></li>
            
            
            
            
        </ul>
    {% endif %}
</body>
</html>