{% extends 'base.html' %}

{% block title %}Donor List{% endblock %}

{% block content %}
    <h2>Donor List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Blood Type</th>
                <th>Units Collected</th>
            </tr>
        </thead>
        <tbody>
            {% for donor in donors %}
                <tr>
                    <td>{{ donor.first_name }} {{ donor.last_name }}</td>
                    <td>{{ donor.blood_type }}</td>
                    <td>{{ donor.units_collected }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
