<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blood Donation{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            
                
                {% if user.is_authenticated %}
                
                <ul>
                    <li><a href="{% url 'register_donor' %}">Register Donor</a></li>
                    <li><a href="{% url 'donor_list' %}">Donor List</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>